body{
    font-family:Arial,sans-serif;
    background:#f4f6fb;
}

.container{
    width:500px;
    margin:60px auto;
    background:white;
    padding:40px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

h1{
    text-align:center;
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:20px;
    font-weight:bold;
}

select{
    width:100%;
    padding:12px;
    margin-top:8px;
    border-radius:8px;
}

button{
    width:100%;
    margin-top:30px;
    padding:14px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}
.result{
    margin-top:30px;
    padding:20px;
    background:#eef4ff;
    border-left:5px solid #2563eb;
    border-radius:10px;
}

.result h2{
    margin-bottom:10px;
}

.result p{
    margin:0;
    color:#333;
}