<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - OutfitIQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

    <div class="dashboard-container">

        <h1>Welcome, {{ name }} 👋</h1>

        <p>
            You have successfully logged in.
        </p>

        <div class="dashboard-buttons">

            <a href="/wardrobe" class="btn">👗 My Wardrobe</a>

            <a href="#" class="btn">🤖 AI Recommendations</a>

            <a href="#" class="btn">👤 Profile</a>

        </div>

        <a href="/" class="home-link">← Back to Home</a>
        <a href="/logout" class="btn">🚪 Logout</a>

    </div>

</body>
</html>