<!DOCTYPE html>
<html>
<head>
    <title>OutfitIQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <div class="logo">OutfitIQ</div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="hero">
        <h1>OutfitIQ</h1>

        <p class="tagline">
            Dress Smarter with AI
        </p>

        <p class="description">
            Get personalized outfit recommendations
            based on your wardrobe, style, and occasion.
        </p>

        <button>Get Started</button>
    </div>
    <section class="features">
        <h2>Why Choose OutfitIQ?</h2>

        <div class="feature-container">

            <div class="feature-card">
                <h3>🤖 AI Recommendations</h3>
                <p>Get smart outfit suggestions based on your style.</p>
            </div>

            <div class="feature-card">
                <h3>👗 Wardrobe Management</h3>
                <p>Organize and manage your clothing collection.</p>
            </div>

            <div class="feature-card">
                <h3>🌦️ Occasion Based Styling</h3>
                <p>Get outfit ideas for college, parties, and more.</p>
            </div>

        </div>
    </section>

</body>
</html>