<!DOCTYPE html>
<html>

<head>
    <title>My Wardrobe - OutfitIQ</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='wardrobe.css') }}">
</head>

<body>

<div class="container">

    <h1>👗 My Wardrobe</h1>

    <p>Add your clothing items.</p>

    <form method="POST" enctype="multipart/form-data">

        <label>Category</label>

        <select name="category">

            <option>Shirt</option>
            <option>T-Shirt</option>
            <option>Jeans</option>
            <option>Trousers</option>
            <option>Shoes</option>

        </select>

        <label>Color</label>

        <input
            type="text"
            name="color"
            placeholder="Blue"
            required
        >

        
        <label>Season</label>

        <select name="season">

            <option>Summer</option>
            <option>Winter</option>
            <option>Rainy</option>
            <option>All Seasons</option>

        </select>

        <label>Clothing Image</label>

        <input
            type="file"
            name="image"
            accept="image/*"
            required
        >

        <button>Add Item</button>

    </form>

    

    

    <h2>My Clothes</h2>

    <div class="clothes-container">

    {% for cloth in clothes %}

    <div class="cloth-card">

        <h3>👖 {{ cloth[1] }}</h3>

        <img src="{{ url_for('static', filename='uploads/' + cloth[4]) }}">

        <div class="info">

            

            <p><b>🎨 Color : </b> {{ cloth[2] }}</p>

            <p><b>🌦️ Season : </b> {{ cloth[3] }}</p>

        </div>
        <div class="info">

            

        </div>
        <a href="/edit/{{ cloth[0] }}" class="edit-btn">
            ✏️ Edit
        </a>
        <a href="/delete/{{ cloth[0] }}" class="delete-btn">
            🗑 Delete
        </a>

    </div>

    

{% endfor %}

</div>

<a href="/dashboard" class="back-btn">← Back to Dashboard</a>

</div>

</body>
</html>